* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: black;
}

.logo {
    width: 120px;
}

.slogan {
    font-style: italic;
    color: #ccc;
}

/* HERO */
.hero {
    height: 90vh;
    background: url('tournament.png') center/cover no-repeat;
    position: relative;
}

.overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.overlay h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.price {
    font-size: 30px;
    color: gold;
    margin: 10px 0;
}

button {
    padding: 12px 25px;
    border: none;
    background: gold;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: orange;
}

/* SERVICES */
.services {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

/* CONTACT */
.contact {
    background: black;
    padding: 40px;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background: #020617;
}